<%- include ("./partials/headerLoggedIn.ejs") %> 

<script>
    
    const formId = '<%= Form ? Form.formid : "" %>';
    
</script>
<main id="form" class="w-4/5 md:w-3/5 m-8 p-2 mx-auto bg-white rounded">
    <div class="form__header text-center rounded p-2 flex-col flex items-center">
        <input type="text" value="<%= Form.title %>" class="text-center mb-1 text-xl w-full" id="form__title"/>
        <textarea name="description" rows="2" class="text-center resize-none text-lg w-full" id="form__description"><%= Form.description %></textarea>
    </div>
    <div class="form__body p-2 rounded m-2 text-sm">
        <% Sections.forEach((section, index) => { %>
            <div class="form__section last-section flex flex-col rounded my-2 p-2" id="<%= section.sectionid%>">
                <input type="text" value="<%= section.title%>" class="section-title mb-2 text-lg"/>
                <input type="text" value="<%= section.description%>" class="section-description mb-2 text-lg"/>
                <hr class="mb-2" />
                <div class="form__question mb-2">
                    <% Questions.forEach((question, index) => { %>
                        <% if (section.sectionid === question.sectionid) { %>
                            <div class="question__card mb-1 " id="<%= question.questionid%>">
                                <% if (question.is_required == "true") { %>
                                    <span class="text-red-900">*<span class="text-xs"> required</span></span> 
                                <% } %>
                                <input type="text" value="<%=question.question_description%>" class="question-description mb-2 w-full"/>
                                <% if ((question.type === 'mcq' || question.type === 'box')) { %>
                                    <% QuestionsAndOptions.forEach((option, opIndex) => { %>
                                        <label for="<%=option.optionid%>" class="w-full block">
                                            <% if (option.questionid === question.questionid) { %>
                                                <% if (option.type === "mcq") { %>
                                                        <input type="radio" value="<%=option.option_value%>" id="id" disabled/>
                                                <% } %>
                                                <% if(option.type === "box") { %>
                                                        <input type="checkbox" value="<%=option.option_value%>" id="id" disabled/>
                                                <% } %>
                                                        <span class="option__value"><%=option.option_value%></span>
                                                <% } %>
                                        </label>
                                    <% }) %>
                                <% } else {%>
                                    <% if (question.type === "text") { %>
                                        <input type="text" class="mb-1 text-xl w-full rounded border-solid border-2" disabled/>
                                    <% } %>
                                    <% if (question.type === "descriptive") { %>
                                        <textarea name="description" rows="2" class="text-center resize-none w-full rounded border-solid border-2" disabled></textarea>
                                    <% } %>    
                                        
                                <% } %>
                                <div class="question__cta flex justify-end">
                                    <i class="fas fa-trash-alt delete-question-btn text-xs text-bold cursor-pointer text-red-300" title="Delete Question"></i>    
                                </div>
                            </div>
                        <% } %>
                    <% }) %>
                </div>
                <div class="section__cta flex items-center justify-between">
                    <% if (index > 0) { %>
                        <i class="fas fa-trash-alt delete-section-btn text-sm text-bold cursor-pointer text-red-300" title="Delete Section"></i>
                    <% } else { %>
                        <div></div>
                    <% } %>
                    <i class="far fa-plus-square new-question-btn text-sm text-bold cursor-pointer text-green-300" title="Add new Question"></i>
                </div>
                <% if (index === Sections.length - 1) { %>
                    <i class="far fa-plus-square text-lg text-bold cursor-pointer" id="add-section-btn" title="Add new Section"></i>
                <% } %>
            </div>
        <% }) %>
    </div>
</main>
<div id="questions__modal" class="fixed flex p-2 rounded">
    <div class="questions__container p-2">
        <p class="questions__title">Question Type</p>
        <div class="questions__card" id="add-question-short-btn">
            <i class="fas fa-paragraph" title="Small Text"></i>
            <p>Small Text</p>
        </div>
        <div class="questions__card" id="add-question-long-btn">
            <i class="fas fa-align-justify" title="Long Text"></i>
            <p>Long Text</p>
        </div>
        <div class="questions__card" id="add-question-single-btn">
            <i class="fas fa-check-circle" title="Single Option"></i>
            <p>Single Option</p>
        </div>
        <div class="questions__card" id="add-question-multiple-btn">
            <i class="fas fa-check-square" title="Multiple Option"></i>
            <p>Multiple Option</p>
        </div>
        <div class="questions__card" id="add-question-img-btn">
            <i class="fas fa-image" title="Image Upload"></i>
            <p>Image Upload</p>
        </div>
        <div class="questions__card-close" id="add-question-close-btn">
            <i class="fas fa-times"></i>
            <p>Cancel</p>
        </div>
    </div>
</div>

<div id="question-cta" class="hidden z-10 fixed w-4/5 md:w-3/5 mx-auto flex flex-col p-3 rounded top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 border-2 border-solid border-gray-300">
    <input type="text" id="qcta__description" placeholder="Type your Question here" class="mt-2 block w-full px-1"/>
    <div class="text mt-2 hidden ">
        <input type="text" class="mt-2 text-xl w-full rounded border-solid border-2" disabled/>
    </div>
    <div class="descriptive mt-2 hidden ">
        <textarea name="description" rows="2" class="text-center resize-none w-full rounded border-solid border-2" disabled></textarea>
    </div>
    <div class="image flex items-center justify-center text-4xl text-gray-300 rounded p-2 border-2 border-solid border-gray mt-2 w-min mx-auto hidden ">
        <i class="fas fa-upload"></i>
    </div>
    <div class="mcq box hidden mt-2 flex flex-col justify-center">
        <section id="options-container" class="flex flex-col items-start my-2"></section>
        <button class="mcq-box-cta flex items-center justify-end" id="add-option">
            <p class="text-sm">Add new option</p>
            <i class="far fa-plus-square ml-2 text-sm text-bold cursor-pointer text-green-300" title="Add new Option"></i>
        </button>
    </div>
    <span class="flex items-center justify-between w-full">
        <button class="rounded border-2 border-solid border-gray-300 mx-auto mt-2 block py-1 px-2 text-sm" id="create-new-question">Create Question</button>
        <span class="flex flex-col items-center justify-center">
            <p>Is required?</p>
            <label class="switch relative" for="is_required">
                <input type="checkbox" id="is_required" class="w-0 h-0 opacity-0">
                <span class="slider absolute transition-all duration-500 inset-0"></span>
            </label>
        </span>
        <button class="rounded border-2 border-solid border-gray-300 mx-auto mt-2 block py-1 px-2 text-sm bg-red-300 hover:bg-red-600 transition-all duration-500" id="close-new-question">Cancel</button>
    </span>
</div>

<%- include ("./partials/footer.ejs") %>
