<%- include ("./partials/headerLoggedIn.ejs") %> 

    <div id="profile">
        <h1><%- user.name %></h1>
        <img src="<%-user.image_path%>" alt="Image of <%-user.name%>" />
    </div>

<%- include ("./partials/footer.ejs") %>
