<%- include ("./partials/headerLoggedIn.ejs") %> 

<center>
    <h1><%- user.name %></h1>
    <img src="<%-user.image_path%>" alt="Image of <%-user.name%>" />
</center>

<%- include ("./partials/footer.ejs") %>
